/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/* CSS Overrides */
.navbar-brand .brand-text {
	color: #33c8c1;
}

.navbar-nav .nav-item a {
	color: #2E2E2E;
}

.header-hero-content .header-sub-title {
	color: #6A6972;
}

.header-hero-content .header-title {
	color: #6A6972;
	font-size: 60px;
}

.header-hero-content .text {
	color: #6A6972;
}

#home-groups {
	padding-bottom: 100px;
	margin-top: 50px;
	background: linear-gradient(to right, #33c8c1 0%, #119bd2 50%, #33c8c1 100%);
}

.header-hero-content .secondary-btn {
	margin-top: 40px;
}

.secondary-btn {
	display: inline-block;
	font-weight: 500;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 0 25px;
	font-size: 16px;
	line-height: 48px;
	border-radius: 8px;
	border: 0;
	color: #fff;
	cursor: pointer;
	z-index: 5;
	-webkit-transition: all 0.4s ease-out 0s;
	-moz-transition: all 0.4s ease-out 0s;
	-ms-transition: all 0.4s ease-out 0s;
	-o-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
	background: -webkit-linear-gradient(left, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
	background: -o-linear-gradient(left, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
	background: linear-gradient(to right, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
	background-size: 200%;
}

.secondary-btn:hover {
	color: #fff;
	background-position: right center;
}
/*
---------------------------------------------
accordions
---------------------------------------------
*/
#frequently-question {
	margin-top: 60px;
}

#frequently-question .section-heading p {
	margin-bottom: 80px;
}

#frequently-question .left-text {
	align-self: center !important;
}

#frequently-question .left-text h5 {
	font-size: 26px;
	font-weight: 700;
	color: #1e1e1e;
	line-height: 40px;
	margin-bottom: 25px;
	letter-spacing: 0.5px;
}

#frequently-question .left-text p {
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.5px;
}

#frequently-question .left-text span {
	font-size: 16px;
	color: #4a4a4a;
	margin-bottom: 50px;
	display: block;
}

#frequently-question .left-text span a {
	font-weight: 500;
}

@media (max-width: 765px) {
	#frequently-question .left-text {
		margin-bottom: 60px;
	}
}

.accordions {
	background-color: #f7f7f7;
}

.accordion-head {
	padding: 20px;
	font-size: 20px;
	cursor: pointer;
	transition: color 200ms ease-in-out;
	border-bottom: 1px solid #fff;
}

@media screen and (min-width: 768px) {
	.accordion-head {
		padding: 1rem;
		font-size: 1.2rem;
	}
}

.accordion-head .icon {
	float: right;
	transition: transform 200ms ease-in-out;
}

.accordion-head.is-open {
	color: #0088e8;
	border-bottom: none;
}

.accordion-head.is-open .icon {
	transform: rotate(45deg);
}

.accordion-body {
	overflow: hidden;
	height: 0;
	transition: height 300ms ease-in-out;
	border-bottom: 1px solid #fff;
}

.accordion-body > .content {
	padding: 20px;
	padding-top: 0;
}


.event-banner img {
	object-fit: cover;
	object-position: center;
}

/*
.event-preview img {
	height: 100%;
	max-height: 300px;
	width: 100%;
	max-width: 900px;
	align-items: center;
	border-radius: 30px;
}

.blog-content .content {
	height: 60px;
	padding-left: .5rem;
}
*/

