@{
	ViewData["Title"] = "Events";
}

<div id="page">
	<section id="blog" class="blog-area pt-120">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title pb-35">
						<div class="line"></div>
						<h3 class="title"><span>Upcoming </span>Events</h3>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<group-events-item v-for="evnt in events" :evt="evnt"></group-events-item>
			</div>
		</div>
	</section>
</div>


@section scripts
{
	<script type="text/x-template" id="group-events-item-template">
		<div class="col-lg-4 col-md-12">
            <div class="single-blog mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                @*<div class="blog-image">
                    <img :src="banner" alt="eventbanner" class="event-banner" height="150" width="200" align-items="center">
                </div>*@
                <div class="event-banner">
                    <img :src="banner" alt="eventbanner">
                </div>
                <div class="blog-content">
                    <h4>{{evt.Name}}</h4>
                    <div class="">Group Name</div>
                    <ul class="meta">
                        <li>Venue: {{evt.Venue}}</li>
                    </ul>
                    <ul class="meta">
                        <li>Duration: {{duration}}</li>
                    </ul>

                    <p class="text">{{evt.Details}}</p>
                    <a class="btn btn-dannger more" :href="detailsUrl">Learn More <i class="lni lni-chevron-right"></i></a>
                </div>
            </div>
		</div>
	</script>
	<script src="~/js/app/events-list.js"></script>
}
