@{
	ViewData["Title"] = "Events";
}

<div id="page">
	<section id="blog" class="blog-area pt-120">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title pb-35">
						<div class="line"></div>
						<h3 class="title"><span>Upcoming </span>Events</h3>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<group-events-item v-for="evnt in events" :evt="evnt"></group-events-item>
			</div>
		</div>
	</section>
</div>


@section scripts
{
	<script type="text/x-template" id="group-events-item-template">
		<div class="col-lg-4 col-md-12 event-card">
			<div class="single-blog mt-30 wow fadeIn shadow p-4" data-wow-duration="1s" data-wow-delay="0.8s">
				<img class="event-card-banner" :src="banner" alt="Event Banner">
				<div class="blog-content">
					<p class="event-name" style="font-size: 1.5rem;">{{evt.Name}}</p>
					<div class="event-group-name font-weight-bolder">{{evt.GroupName}}</div>
					<p class="meta"><i class="lni lni-calendar mr-2" style="color: #33c8c1"></i><span style="width: 60px">Starts:</span>{{evt.StartDate}}</p>
					<p class="meta"><i class="lni lni-calendar mr-2" style="color: #33c8c1"></i><span style="width: 60px">Ends:</span>{{evt.EndDate ?? "N/A"}}</p>
					<p class="meta"><i class="lni lni-map-marker mr-2" style="color: #33c8c1"></i>{{evt.Venue}}</p>
					<a class="secondary-btn my-2" :href="detailsUrl" style="width: 100%">Learn More <i class="lni lni-chevron-right"></i></a>
				</div>
			</div>
		</div>
	</script>
	<script src="~/js/app/events-list.js"></script>
}
