@{
    ViewData["Title"] = "Event Details";
}

<div>
    <input type="hidden" id="eId" value="@ViewBag.EventId" />
</div>

<div id="page">
	<section class="about-area pt-50 event-detail">
		<div class="container">
			<div class="row justify-content-center align-content-center">
				<div class="col-md-12 col-sm-12">
					<div class="about-image text-center mt-50">
						<div>
							<img class="img-fluid event-banner-photo" :src="eventBanner" alt="Event Image Banner">
						</div>

					</div> <!-- about image -->
				</div>
			</div> <!-- row -->
			<div class="row justify-content-center mt-4">
				<div class="col-md-8 col-sm-12">
					<h3>{{eventInfo.Name}}</h3>
					<p class="meta"><i class="lni lni-calendar mr-2" style="color: #33c8c1"></i><span style="width: 60px">Starts:</span>{{eventInfo.StartDate}}</p>
					<p class="meta"><i class="lni lni-calendar mr-2" style="color: #33c8c1"></i><span style="width: 60px">Ends:</span>{{eventInfo.EndDate ?? "N/A"}}</p>
					<p class="meta"><i class="lni lni-map-marker mr-2" style="color: #33c8c1"></i>{{eventInfo.Venue}}</p>
				</div>
				<div class="col-md-4 col-sm-12 align-content-center">
					<a style="width: 100%" :href="eventInfo.JoinLink" class="main-btn">Register to this Event</a>
				</div>
			</div> <!-- row -->
			<hr>
			<div class="row justify-content-center align-content-center">
				<div class="col-md-12 col-sm-12">
					<h5>Details</h5>
					<p class="text"> {{eventInfo.Details}} </p>
				</div>
			</div> <!-- row -->
		</div> <!-- container -->
	</section>
</div>
<!-- /.row -->

@section scripts
{
    <script src="~/js/app/event-detail.js"></script>
}